.index-footer {
  height: 774px;
  background-image: url("/img/footerimg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.index-footer .heart {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-footer .heart img {
  height: 186px;
}

.index-footer .see-ya {
  display: flex;
  flex-direction: column;
  color: #fff;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.79);
  padding-bottom: 14px;
  justify-content: center;
}

.index-footer .see-ya h2 {
  align-self: center;
  justify-self: center;
  font-family: "Maven Pro", sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.index-footer .see-ya .contact{
    position: relative;   
    bottom: -160px;
    display: flex;
    justify-content: space-between;
}

.index-footer .see-ya .phone,
.index-footer .see-ya .mail {
  align-self: flex-end;
  margin-left: 14px;
  margin-right: 14px;
  font-family: "Maven Pro", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.index-footer .see-ya .phone img,
.index-footer .see-ya .mail img {
  position: relative;
  height: 14px;
  top: 4px;
}

.index-footer .see-ya .phone img {
  margin-right: 2px;
}

.index-footer .see-ya .mail img {
  margin-left: 2px;
}


.my-pages-footer{
    display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
    height: 220px;
    background-color: var(--clr-brown);
    padding: 16px 15px 18px 15px;
}

.my-pages-footer .img-container{
    flex: 4;
    width: 93%;
    height: 93%;
    overflow: hidden;

}

.my-pages-footer .img-container img{
    size: 100%;
    width: 100%;
    min-height: 86px; 
    object-fit: cover;
}

.my-pages-footer .img-container .water{   
    margin-top: 40%;
    transform: translateY(-60%);
}

.my-pages-top{
    margin: 16px;
    font-size: 14px;
}

@media screen and (min-width: 768px) {
  footer {
    height: 590px;
    display: flex;
    flex-direction: row-reverse;
    overflow :auto;    
  }

  footer .heart {
    height: 100%;
    flex: 1;
  }

  footer .heart img {
    height: 186px;
  }

  footer .see-ya {
    display: flex;
    height: 100%;
    flex: 1;
    flex-shrink: 0;
  }

  footer .see-ya h2 {
    font-size: 64px;
    flex-shrink: 0;
  }

  footer .see-ya .phone,
  footer .see-ya .mail {
    align-self: flex-end;
    margin-left: 14px;
    font-family: "Maven Pro", sans-serif;
    font-size: 20px;
    font-weight: 400;
    flex-shrink: 0;   
  }

  footer .see-ya .mail {
    position: relative; 
      
  }

  footer .see-ya .phone img,
  footer .see-ya .mail img {
    position: relative;
    height: 25px;
    top: 8px;
  }

  footer .see-ya .phone img {
    margin-right: 2px;
  }

  footer .see-ya .mail img {
    margin-left: 2px;
  }

  footer .see-ya .contact{
    position: relative;   
    bottom: -230px;
    display: flex;
    justify-content: space-between;
}
.top {
    font-size: 24px;
  }
}
