header{
    display: flex;   
    flex-wrap: wrap; 
    width: 100vw;
}

header .nav-burger img{
    position:absolute;
    width: 40px;
    height: 30px;
    margin: 13px;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

header .logo{
    display: flex;    
    width: 100%; 
    height: 390px;
    background-image: url("../img/first.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;   
    background-position: 50%;
}

header .logo img{
    height: 186px;
}

header .seedling{
    display: flex;   
    width: 50%;
    background-color: var(--clr-brown);  
    height: 195px;
    justify-content: center;
    align-items: center;  
}

header .dig{
    display: flex;  
    width: 50%;
    background-color:var(--clr-green);    
    height: 195px;
    justify-content: center;
    align-items: center;  
}

header .dig img,
header .seedling img{
    height: 130px;
}